/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 9, 2020, 12:46:01 PM
    Author     : Ray Gdhrt
*/

.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow
{
    background-color: inherit;
}

.official-bg-color {
    background-color: #043914;
}

.Official-bg-Color {
    background-color: #043914;
}

.official-fg-color {

	color: #fff;

}

.TableAlgnment {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}

.Font8 {
    font-size: 8px !important;
}

.Font9 {
    font-size: 9px !important;
}

.Font10 {
    font-size: 10px !important;
}

.Font11 {
    font-size: 11px !important;
}

.Font12 {
    font-size: 12px !important;
}

.Font13 {
    font-size: 13px !important;
}

.Font14 {
    font-size: 14px !important;
}

.Font15 {
    font-size: 15px !important;
}

.Font16 {
    font-size: 16px !important;
}

.Font17 {
    font-size: 17px !important;
}

.Font18 {
    font-size: 18px !important;
}

.Font19 {
    font-size: 19px !important;
}

.Font20 {
    font-size: 20px !important;
}

.Font30 {
    font-size: 30px !important;
}

.font8 {
    font-size: 8px !important;
}

.font9 {
    font-size: 9px !important;
}

.font10 {
    font-size: 10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font17 {
    font-size: 17px !important;
}

.font18 {
    font-size: 18px !important;
}

.font19 {
    font-size: 19px !important;
}

.font20 {
    font-size: 20px !important;
}

.font30 {
    font-size: 30px !important;
}

.Bold {
    font-weight: bold !important;
}

.bold {
    font-weight: bold !important;
}

.BordRad3 {
    border-radius: 0px;
}

.panelgridcolumns td {
    vertical-align: top;
}

.leftAlign {
    text-align: left !important;
}

.rightAlign {
    text-align: right !important;
}

.LeftAlign {
    text-align: left !important;
}

.RightAlign {
    text-align: right !important;
}

.FloatRight {
    float: right !important;
}

.centerAlign {
    text-align: center !important;
}

.centreAlign {
    text-align: center !important;
}

.CenterAlign {
    text-align: center !important;
}

.CentreAlign {
    text-align: center !important;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

.white {
    color: white !important;
}

.White {
    color: white !important;
}

.Red {
    color: red !important;
}

.Blue {
    color: blue !important;
}

.underline {
    text-decoration: underline !important;
}

.Underline {
    text-decoration: underline !important;
}

.UnderLine {
    text-decoration: underline !important;
}

.smallButton {
    font-size: 11px !important;
    width: 238px;
    padding-top: 0px;
    border-radius: 0px !important;
    background-color: yellow !important;
    text-align: left;
}

.normalButton {
    font-size: 13px !important;
    text-align: left;
}

.hyperLink {
    color: blue !important;
    text-decoration: underline !important;
}

.fc-content   .fc-event {
    background-color: rgba(134, 153, 171, 0.06);
    border: 1px solid #D2505A;
}

.TexAlCenter {
    text-align: left;
}

.TexCenter {
    text-align: center !important;
}

.Wid100 {
    width: 100% !important;
}

.wid100 {
    width: 100% !important;
}

.wid91 {
    width: 91% !important;
}

.Wid91 {
    width: 91% !important;
}

.wid92 {
    width: 92% !important;
}

.Wid92 {
    width: 92% !important;
}

.wid93 {
    width: 93% !important;
}

.Wid93 {
    width: 93% !important;
}

.wid94 {
    width: 94% !important;
}

.Wid94 {
    width: 94% !important;
}

.wid95 {
    width: 95% !important;
}

.Wid95 {
    width: 95% !important;
}

.Wid96 {
    width: 96% !important;
}

.wid96 {
    width: 96% !important;
}

.wid90 {
    width: 90% !important;
}

.Wid90 {
    width: 90% !important;
}

.wid80 {
    width: 80% !important;
}

.Wid80 {
    width: 80% !important;
}

.wid70 {
    width: 70% !important;
}

.Wid70 {
    width: 70% !important;
}

.wid60 {
    width: 60% !important;
}

.Wid60 {
    width: 60% !important;
}

.Wid50 {
    width: 50% !important;
}

.wid50 {
    width: 50% !important;
}

.Wid40 {
    width: 40% !important;
}

.wid40 {
    width: 40% !important;
}

.Wid30 {
    width: 30% !important;
}

.wid30 {
    width: 30% !important;
}

.Wid20 {
    width: 20% !important;
}

.wid20 {
    width: 20% !important;
}

.Wid66 {
    width: 66% !important;
}

.wid66 {
    width: 66% !important;
}

.Wid10 {
    width: 10% !important;
}

.wid10 {
    width: 10% !important;
}

.Wid12 {
    width: 12% !important;
}

.wid12 {
    width: 12% !important;
}

.margin2 {
    margin: 2px !important;
}

.Margin2 {
    margin: 2px !important;
}

.marginLeft5 {
    margin-left: 5px !important;
}

.MarginLeft5 {
    margin-left: 5px !important;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.MarginLeft10 {
    margin-left: 10px !important;
}

.marginLeft30 {
    margin-left: 30px !important;
}

.MarginLeft30 {
    margin-left: 30px !important;
}

.marginLeft15 {
    margin-left: 15px !important;
}

.MarginLeft15 {
    margin-left: 15px !important;
}

.marginLeft20 {
    margin-left: 20px !important;
}

.MarginLeft20 {
    margin-left: 20px !important;
}

.marginRight5 {
    margin-right: 5px !important;
}

.MarginRight5 {
    margin-right: 5px !important;
}

.marginRight0 {
    margin-right: 0px !important;
}

.MarginRight0 {
    margin-right: 0px !important;
}

.marginRight10 {
    margin-right: 10px !important;
}

.MarginRight10 {
    margin-right: 10px !important;
}

.marginRight15 {
    margin-right: 15px !important;
}

.MarginRight15 {
    margin-right: 15px !important;
}

.marginRight20 {
    margin-right: 20px !important;
}

.MarginRight20 {
    margin-right: 20px !important;
}

.MarginTopCV {
    margin-top: 10px !important;
}

.login-body .login-panel .ui-g-12 {
	padding: 10px !important;
}

.login-body {
	background-color: #f5f5f5;
	padding-top: 200px;
	height: auto;
	background: #fff !important;
	background-position: 0 -100px;
}

.login-body .ui-inputfield {
	padding: 20px;	
}

.login-body .ui-inputfield.ui-state-focus {
	padding: 20px;	
}

.login-body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
	padding: 5px;	
}

.login-body .ui-inputtextarea {
    width: 100%;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-radius: 0px !important;
    background-color: #FFF !important;
    color: black !important;
}
.padding10{
	padding: 10px;
}

.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
{
    padding: 1px 5px !important;
    font-size: 16px;
    color: #ffffff !important;
    text-shadow: none;
    z-index: 100;
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
    margin: -1px -1px -1px 0px !important;
    background-color: #048FD2 !important;
}

.ui-panel .ui-panel-titlebar {
    padding: 8px 10px 8px 10px !important;
    font-size: 16px;
    color: #F1F6F9;
    z-index: 100;
    font-family: 'ralewaymedium';
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    background-color: #048FD2;
}

.CustomButton .ui-button-text {
    background-color: #048FD2 !important;
}

.CustomButton:hover .ui-button-text, .BlueButton:focus .ui-button-text {
    background-color: #ACC9DE !important;
}

body .ui-datatable-header {
    background-color: rgba(239, 229, 229, 0.35) !important;
    font-size: 16px;
    border: 1px solid #ccc3c3;
    border-top: 1px solid #ccc3c3 !important;
    border-left: 1px solid #ccc3c3 !important;
    border-right: 1px solid #ccc3c3 !important;
}

.ui-datatable.borderless thead th, .ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr, .ui-datatable.borderless tbody td {
    border-style: none;
}

.RedBG {
    background-color: red !important;
    color: white !important;
}

.GreenBG {
    background-color: green !important;
    color: white !important;
}

.YellowBG {
    background-color: yellow !important;
    color: black !important;
}

.ViewAgencyImage {
    max-height: 5rem !important;
}

.CVImage {
    max-height: 20rem !important;
    min-height: 20rem !important;
}

.ViewAgencyCard {
    padding: 0em !important;
    margin-top: 0.5rem !important;
    text-align: center !important;
}

.ViewAgencyCard_AC {
    padding: 0em !important;
    text-align: center !important;
}

.AccountProfile_AC {
    max-height: 5rem !important;
    border-radius: 50% !important;
}

.AccountProfile {
    max-height: 5rem !important;
    max-width: 5rem !important;
    min-height: 5rem !important;
    min-width: 5rem !important;
    border-radius: 50% !important;
}

.PurpleBlueFadeCardBorder {
    border: 4px groove transparent;
    border-image: linear-gradient(to bottom, #87b7d7, #b7c1d3);
    border-image-slice: 1;
    padding: 0px !important;
    border-width: medium;
}

.PurpleBlueFadeCardBorderNoResize {
    border: 4px groove transparent;
    border-image: linear-gradient(to bottom, #87b7d7, #b7c1d3);
    border-image-slice: 1;
    border-width: medium;
}

.TransparentCard {
    background: transparent !important;
}

.ShadowBottom {
    box-shadow: 0px -10px 20px #87b7d7 inset;
}

.ShadowRight {
    box-shadow: -10px 0px 20px #87b7d7 inset;
}

.ShadowLeft {
    box-shadow: 10px 0px 20px #87b7d7 inset;
}

.ShadowLeftRed {
    box-shadow: 10px 0px 20px #E9967A inset;
}

.ShadowLeftBlue {
    background: #0b8700;
}
/*.ShadowLeftBlue {
        background: #770087;
}*/

.ShadowTop {
    box-shadow: 0px 10px 15px #87b7d7 inset;
}

.ShadowRightTop {
    box-shadow: -10px 10px 15px #87b7d7 inset;
}

.ShadowLeftTop {
    box-shadow: 10px 10px 15px #87b7d7 inset;
}

.ShadowLeftBottom {
    box-shadow: 10px -10px 15px #87b7d7 inset;
}

.ShadowRightBottom {
    box-shadow: -10px -10px 15px #87b7d7 inset;
}

.PurpleBlueFadeCard {
    background: linear-gradient(to bottom, #3376aa, #446ba1, #6d6598, #9a58ab)
        !important;
    padding: 0px !important;
}

.PurpleBlueFadeMenu {
    background: linear-gradient(to bottom, #3387c8, #5660b6, #825299, #a33d86)
        !important;
    width: 85px !important;
}

.PurpleBlueFadeMenuItem {
    background: linear-gradient(to bottom, #6c76c6, #5660b6, #825299, #9a58ab)
        !important;
    padding: 0px !important;
}

.FormLabel {
    color: white !important;
    text-align: left !important;
    font-weight: 600 !important;
}

.FormLabelNoSize {
    color: white !important;
    text-align: left !important;
}

.HomeImageSingle {
    max-height: 7.2rem !important;
    max-width: 12rem !important;
}

.EventImage {
    max-height: 5rem !important;
    max-width: 5rem !important;
    min-height: 5rem !important;
    min-width: 5rem !important;
    border-radius: 50% !important;
}

.LoginLogo {
    max-height: 4rem !important;
    max-width: 5rem !important;
    margin-bottom: 1em !important;
}

.BusinessVenture {
    margin-bottom: 1em !important;
    width: 100%;
}

.infoCard {
    min-height: 27rem !important;
}

.MemoryImage {
    max-height: 5rem !important;
    max-width: 5rem !important;
    min-height: 5rem !important;
    min-width: 5rem !important;
    border-radius: 6% !important;
    margin-top: 5px !important;
}

.MemoryLabel {
    color: white !important;
    text-align: center !important;
    font-weight: 400 !important;
}

.ChatImage {
    max-height: 3rem !important;
    max-width: 3rem !important;
    min-height: 3rem !important;
    min-width: 3rem !important;
    border-radius: 50% !important;
}

.ChatDownload {
    max-height: 1.5rem !important;
    max-width: 1.5rem !important;
    min-height: 1.5rem !important;
    min-width: 1.5rem !important;
}

.MenuItemImage {
    max-height: 4.5rem !important;
    max-width: 4.5rem !important;
}

.EventsHomeImage {
    max-width: 3.7rem !important;
    max-height: 3.7rem !important;
    min-height: 3.7rem !important;
    min-width: 3.7rem !important;
}

.HomePageCardHeight {
    min-height: 7em !important;
    max-height: 7em !important;
}

.AccountBGIMage {
    max-width: 100% !important;
    min-width: 100% !important;
    height: 8rem !important;
}

.AccountProfile {
    max-height: 5rem !important;
    max-width: 5rem !important;
    min-height: 5rem !important;
    min-width: 5rem !important;
    border-radius: 50% !important;
}

.NoPadEMAccountProfile {
    padding: 0em !important;
    margin-top: -2rem !important;
}

.NoPadChatCard {
    padding: 0em !important;
    margin: 0em !important;
}

.EventCard {
    min-height: 16rem !important;
}

.BookingCard {
    min-height: 10rem !important;
}

.FullStretch {
    width: 100% !important;
    height: 100% !important;
}

.FormField {
    background: whitesmoke !important;
    background-color: whitesmoke !important;
    background-image: none !important;
    border-width: 1px 1px 1px 1px;
    padding: 5px 4px 10px 2px !important;
    border-color: #f8b5b5 !important;
    border-style: none;
    text-align: left !important;
    font-size: 15px !important;
    width: 100% !important;
    border-radius: 0px !important;
    margin: 0px !important;
    font-size: 15px !important
}

.FormFieldNoWidth {
    background: whitesmoke !important;
    background-color: whitesmoke !important;
    background-image: none !important;
    border-width: 1px 1px 1px 1px;
    padding: 5px 4px 10px 2px !important;
    border-color: #f8b5b5 !important;
    border-style: none;
    font-size: 15px !important;
    border-radius: 0px !important;
    margin: 0px !important;
}

.SearchNoIconAndText {
    background-color: grey !important;
    border-width: 1px 1px 1px 1px;
    width: 40px !important;
    height: 36px !important;
    border-color: #f8b5b5 !important;
    border-style: none;
    font-size: 15px !important;
    border-radius: 0px !important;
}

.SearchNoIconAndTextGreen {
    background-color: green !important;
    border-width: 1px 1px 1px 1px;
    width: 40px !important;
    height: 36px !important;
    border-color: #f8b5b5 !important;
    border-style: none;
    font-size: 15px !important;
    border-radius: 0px !important;
}

.HostPartyBG {
    background-image:
        url(#{request.contextPath}/resources/images/Party-slide-Background.png)
        !important;
    background-size: cover;
}

.AddressesBG {
    background: linear-gradient(to right, #6c217a, #0069ba, #b73aa0, #2575b3, #6c217a)
        !important;
    background-size: 100% 10000% !important;
    background-repeat: no-repeat !important;
}

.HostMealBG {
    background-image:
        url(#{request.contextPath}/resources/images/Meal-slide-background.png)
        !important;
    background-size: cover;
}

.HomeBG {
    background-color: #D1ECD7 !important;
    background-repeat: no-repeat !important;
}

.WidthAuto {
    width: auto !important;
}

.NoBorder {
    border-style: none !important;
}

.noPad {
    padding: 0px !important;
}

.nopad {
    padding: 0em !important;
}

.NoPad {
    padding: 0px !important;
}

body .ui-widget-header {
    background-color: #2e8548;
    border: 1px solid #268658;
}

.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem>a
{
    color: #F0E506;
}

.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem>a i:first-child
{
    color: #F0E506;
}

.table-edit-text {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-radius: 3px !important;
    background-color: #c2edc4 !important;
    color: black !important;
}

.square-button {
    border-radius: 1px !important;
    background-color: #048FD2 !important;
    margin-top: 0px;
    height: 25px !important;
    width: 20px !important;
    margin-right: -13px !important;
    margin-left: 0px !important;
    height: 29px !important;
}

.text-field-select {
    border-top-width: 1px !important;
    border-right-width: 0px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-radius: 0px !important;
    height: 25px !important;
    width: 100%;
    background-color: #FFF !important;
    color: black !important;
    padding-top: 1px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: -2px !important;
    background-color: #FFF !important;
}

.boardered-text-field {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-radius: 0px !important;
    height: 25px !important;
    background-color: #FFF !important;
    color: black !important;
}

.show-text-field-border {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-radius: 0px !important;
    margin-right: -5px;
    background-color: #FFF !important;
    color: black !important;
}

body .ui-selectonemenu {
    border-top: 1px solid #bdbdbd !important;
    border-left: 1px solid #bdbdbd !important;
    height: 28px;
    border-radius: 4px;
}

body .ui-selectonemenu .ui-selectonemenu-trigger,.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    height: 100%;
    width: 20px;
}

body .ui-selectonemenu .ui-selectonemenu-trigger , .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    margin-top: -1px !important;
}

.Vertical-Div-Strip {
    border-right: solid 1px !important;
    height: 30px;
    color: #15a12a;
}

.vertical-div-strip {
    border-right: solid 1px !important;
    height: 30px;
    color: #15a12a;
}

.dynamicDiv {
    float: left;
    margin-top: 10px;
}

.DynamicDiv {
    float: left;
    margin-top: 10px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.layout-wrapper .topbar {
    background-color: #10383a !important;
}

.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents {
    background: linear-gradient(to bottom, #10383a, #2a6a6c, #2a6a6c, #10383a) !important;
}

body .ui-widget-header{

	background-color: #2a6a6c !important;
	border: 1px solid #2a6a6c !important;

}

body .ui-button {
    background-color: #2a6a6c;
}

body .ui-button.red-btn {
    background-color: #b90d49;
}

body .ui-button.green-btn {
    background-color: #2a6a6c;
}

body .ui-dialog .ui-dialog-titlebar {
    background-color: #ffffff;
    color: white;
    padding: 8px 14px;
}

.panel-grid-label-cell-form{
    font-size: 15px;
    color: #fff;
    background-color: #2a6a6c;
}

.panel-grid-label-cell-settings{
    font-size: 15px;
    color: #000;
    background-color: #c2edc4;
}
uploadFile.ui-widget-header{
    background-color: #c2edc4 !important;
}
.ui-panel-titlebar{
    background-color: #2a6a6c;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
    color: #ffffff !important;
    background-color: #2a6a6c !important;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    color: #ffffff !important;
    background-color: #2a6a6c !important;
    height: 100%;
    width: 20%;

}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    color: #fff !important;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    color: #fff !important;
    position: relative;
    top: 0%;
}

#eventsViewFilterForm .ui-g-1,
#eventsViewFilterForm .ui-g-2,
#eventsViewFilterForm .ui-g-3,
#eventsViewFilterForm .ui-g-4,
#eventsViewFilterForm .ui-g-5,
#eventsViewFilterForm .ui-g-6,
#eventsViewFilterForm .ui-g-7,
#eventsViewFilterForm .ui-g-8,
#eventsViewFilterForm .ui-g-9,
#eventsViewFilterForm .ui-g-10,
#eventsViewFilterForm .ui-g-11,
#eventsViewFilterForm .ui-g-12{
    padding: 1px !important;
}

body .ui-datepicker .ui-datepicker-header{
    background-color: #10383a !important;
}

body .ui-datepicker thead tr {

	background-color: #2a6a6c !important;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}

.ui-panelgrid .ui-panelgrid-cell-label {
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}

